/*Good old css reset */
	/* NOTES 
	-all animations start at 0px because it only references the div, no the entire page
	*/
* { 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	overflow: auto;
}
body{
	background-color: #E3E5E5;
 	margin:0;
  	padding:0;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.header{
	font-family: 'Raleway', sans-serif;

}
#titleHeader1stHalf{
	height: 70px;
	width: 55%;
	float:left;
	background-color: #E3E5E5;
	font-family: 'Raleway', sans-serif;
}
#titleHeader2ndHalf{
	height: 70px;
	width: 20%;
	float:left;
	background-color: #E8EAEA;
	font-family: 'Raleway', sans-serif;
	border-radius:5px;
}
#titleHeader3rdHalf{
	height: 70px;
	width: 25%;
	float:left;
	background-color: #EFF2F2;
	font-family: 'Raleway', sans-serif;
	border-radius:5px;
}
a{
	text-decoration: none;
}
#title1{
	color: #2E4052;
	font-size:35px;
	font-weight: 700;
	vertical-align: middle;
	line-height: 0x; 
	margin:0;
    padding:10px 0 0 100px;  
}
#title2{
	color: #2E4052;
	font-size:35px;
	vertical-align: middle;
	text-align: center;
	line-height: 0x; 
	margin:0;
    padding:10px 0 0 0px;  
}
#title3{
	color: #2E4052;
	font-size:35px;
	vertical-align: middle;
	text-align: center;
	line-height: 0x; 
	margin:0;
    padding:10px 0 0 0px; 
}
.wrapper{
	font-family: 'Raleway', sans-serif;
}
#left{
	height: 100%;
	width: 33%;
	float:left;
	color:white;
	background-color: orange; /* For browsers that do not support gradients */
    background-image: linear-gradient(#F5962D,#FA546A); /* Standard syntax (must be last) */
}
.wrapper select{
	width: 85%;
	margin:40px;
	height:90%;
	vertical-align: middle;
    background: transparent;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
    border: 1px solid white; 
    border-radius:5px;
}
#middle{
	height: 100%;
	width: 33%;
	float:left;
	background-color: orange; /* For browsers that do not support gradients */
    background-image: linear-gradient(#519CC9,#42F5F6); /* Standard syntax (must be last) */
}
#middlebutalittlesmaller{
	background-color:transparent;
	width:95%;
	padding:6% 0 0 5%;
}
#right{
	height: 100%;
	width: 33%;
	float:left;
	background-color: orange; /* For browsers that do not support gradients */
    background-image: linear-gradient(#8B3EC8,#6E5AD3); /* Standard syntax (must be last) */
}
.typesOfPoses{
	font-family: 'Raleway', sans-serif;
	padding:10px 0 0 10px;
	text-decoration: none;
	font-size: 30px;
}
.list-group{
	max-height:90%;
	overflow:scroll;
	background-color:transparent;
	-webkit-overflow-scrolling: touch;
}
.list-group-item{
	background-color: transparent;
}
.space{
	width:0.4%;height:100%;
	background-color: white;
	float:left;
}
h3{
	color: white;
	font-size:35px;
	vertical-align: middle;
	text-align: center;
	line-height: 0x; 
	margin:0;
    padding:120px 0 0 0px; 
	font-family: 'Raleway', sans-serif;
}